@media(max-width: 1023px) {

    .drop-down {
        padding: 25px;
        position: absolute;
        width: 100%;
        height: auto;
        background: blue;
        top: 0;
        transition: top 0.4s ease-in-out;
        text-shadow: 1px 1px 1px darken(blue, 15%);
        box-shadow: 0 0 10px 2px #000;
    }


    .drop-down li {
        height: 50px;
        line-height: 50px;
        border-bottom: 1px solid lighten(blue, 5%);
        border-top: 1px solid darken(blue, 5%);
        text-align: center;
    }

    .drop-down a {
        display: block;
        font-size: 18pt;
        color: #fff;
        text-decoration: none;
        font-family: 'Carrois Gothic', sans-serif;
    }

    .down {
        top: 0;
        transition: top 0.4s ease-in-out;
    }


    .menu {
        position: absolute;
        top: 15px;
        left: 50%;
        margin-left: -22px;
        width: 55px;
        height: 55px;
        text-align: center;
        border: 3px solid #fff;
        background: #ff2d4d;
        z-index: 999;
        color: #fff;
    }

    .menu a {
        display: block;
        text-decoration: none;
        font-size: 1.4em;
        font-weight: bold;
        color: #fff;
        margin: 0 auto;
    }

    .menu .close {
        display: none;
        font-size: 1.4em;
        color: #fff;
    }


    .trigger {
        animation: menu-spin-back 0.4s ease-in-out;
        animation-fill-mode: forwards;
    }


    .round {
        animation: menu-spin 0.4s ease-in-out;
        animation-fill-mode: forwards;
    }


    @-webkit-keyframes menu-spin {
        50% {
            border-radius: 100%;
        }
        100% {
            border-radius: 100%;

            transform: rotate(180deg);
        }
    }

    @-webkit-keyframes menu-spin-back {
        50% {
            border-radius: 0;
        }
        100% {
            border-radius: 0;
            transform: rotate(-180deg);
        }
    }

    .white {
        border-color: #fff;
        color: #fff !important;
    }
}
